/* global */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: rgb(223, 220, 214);
    position: relative;
    overflow: visible;
}



.container{
    margin-left: 7%;
    margin-right: 7%;
}

#grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    width: min-content;
}

#grid img {

    width: 50vh;
    height: 30vh;
    -webkit-filter: grayscale(100%);
  }

  #grid img:hover {
    -webkit-filter: grayscale(0%);
    transition: all 0.5s ease-in-out;
  }

.content{
    display: flex;
    width: min-content;
    position: relative;
    float: left;
}

.hover-description{
    height: auto;
    width: 100%;
    background-color: rgba(234, 239, 244, 0.687);
    transition: all 500ms ease-out;
    opacity: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    text-align: center;
}


.content article:hover > .hover-description{
    opacity: 1;
    visibility: visible;

}
